
.jumbotron {
	background-image: url('..//img/header-bg1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -70px;
	color: #eaeaea;
	padding-top: 6rem;
	background-color: #e2edff;
}

.jumbotron img {
	width: 300px;
}


#galery {
	background-color: #e2edff;
}

#contact {
	background-color: #fff;
}

section {
	padding-top: 6rem;
}