html {
	position: relative;
}


body {
	margin-bottom: 120px;
}

.jumbotron img {
	width: 300px;
	margin-top: 25px;
	
}



hr {
	width: 250px;
	border-top: 3px solid #999;
}



section{
	height: 600px;

}


.porfolio {
	background-color: #eee;
}

.contact {
	min-height: 800px;
	
}








footer {
	position: absolute;
	bottom: 0;
	width: 120%;
	height: 100px;
	background-color: #666;
	color: #aaa;
	padding-top: 30px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}