html {
	position: relative;
}


body {
	margin-bottom: 120px;
	margin-top: 30px;
}


.jumbotron {
	height: 500px;
	background-image: url('..//img/header-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -60px;
	color: #eaeaea;
}

.jumbotron img {
	width: 300px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}



hr {
	width: 250px;
	border-top: 3px solid #999;
}



section {
	min-height: 300px;

}


.porfolio {
	background-color: #eee;
}

.contact {
	min-height: 600px;
	margin-top: 50px;
	
}








footer {
	position: absolute;
	bottom: 0;
	width: 120%;
	height: 80px;
	background-color: #666;
	color: #aaa;
	padding-top: 30px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}